@charset "UTF-8";

body {
    margin: 0;
    font-family: Ubuntu, Arial, sans;
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 2em;
    margin: 16px;
}

#test-elements {
    .box {
        position: absolute;
        left: 100px;
        top: 100px;
        width: 100px;
        height: 100px;
        color: #366097;
        background-color: #D2E0E6;
        border: 0px solid #2B81AF;
    }
}
