@charset "UTF-8";

// @include "../../node_modules/normalize.css/normalize.css"

body {
    font-family: Ubuntu, Arial, sans;
    font-size: 16px;
}

h1 {
    margin: 16px;
}

#test-elements {
    margin: 48px;

    .box {
        position: absolute;
        left: 100px;
        top: 100px;
        width: 100px;
        height: 100px;
        color: #366097;
        background-color: #D2E0E6;
        border: 0px solid #2B81AF;
    }
}
