@charset "UTF-8";


@import "inc/html5reset";
@import "inc/mixins";


html {
}


body {
	font-family: Ubuntu, Arial, sans;
	color: #333;
}

section {
	background-color: #ccc;
	margin: 30px;
	padding: 30px;
	border: 2px solid #333;
	height: 250px;
	font-size: 60px;
}

#log {
	position: fixed;
	top: 8px;
	right: 8px;
	padding: 8px;
	background-color: #fff;
	z-index: 1;
	border: 2px solid #555;

	h1 {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 1em;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li.header {
			font-weight: bold;
			margin-bottom: 4px;
		}

		span {
			display: inline-block;
			padding-bottom: 2px;
			margin: 0 4px;
			width: 45px;
			overflow: hidden;
		}
		span.idx {
			width: 20px;
			text-align: center;
		}
	}
}