@charset "UTF-8";


body {
    font-family: Ubuntu, Arial, sans;
    font-size: 16px;
    color: #333;
    position: absolute;

    a, a:visited, a:active {
        color: #1d77c2;
        text-decoration: none;

        &:hover {
            color: #555;
            background-color: rgba(0,0,0,0.05);
        }
    }

    > h1 {
        display: inline-block;
        margin: 30px;
        padding: 4px;
        font-size: 2em;
        border-bottom: 2px solid #eee;
    }
    > section {
        position: relative;
        background-color: #ccc;
        margin: 30px;
        border: 2px solid #333;
        height: 250px;
        overflow: hidden;
        cursor: pointer;

        .label {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 10px;
            padding: 8px 16px 16px 16px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.5);

            .idx {
                font-weight: bold;
                font-size: 1.8em;
                color: rgba(0,0,0,0.7);
            }
            ul {
                margin: 6px 0 0 0;
                padding: 0 0 0 1.2em;
            }
        }
    }
    > .scrollarea {
        margin: 30px;
        padding: 10px;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 9px;

        > .scrollbar {
            margin: 4px;
            width: 10px;
            background-color: #ccc;
            border-radius: 5px;

            .drag {
                background-color: #aaa;
                border-radius: 5px;
            }
            &.dragOn .drag {
                background-color: #caa;
            }
        }
    }

    #container {
        position: absolute;
        left: 400px;
        top: 30px;
        width: 300px;
        height: 300px;
        border: 2px solid #333;
        overflow: auto;

        .small-box {
            position: relative;
            background-color: #ccc;
            margin: 30px;
            border: 1px solid #333;
        }
    }
    #container-outline {
        position: absolute;
        left: 750px;
        top: 30px;
        border: 1px solid #333;
    }

    aside.panel {
        font-size: 0.85em;
        position: fixed;
        top: 8px;
        right: 8px;
        background-color: #fff;
        z-index: 1;
        border: 2px solid #555;

        h1 {
            font-size: 1.2em;
            text-align: center;
            margin: 8px 0 0 0;
        }
        > section {
            float: right;
            margin: 8px;

            h2 {
                font-size: 1em;
                text-align: left;
                margin: 1em 0 0.6em 0;
            }
            .fracs {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                    border: 1px solid rgba(0,0,0,0);
                    border-radius: 4px;

                    &.header {
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
                    &.section:hover {
                        border-color: #ddd;
                    }
                }

                span {
                    display: inline-block;
                    margin: 0 4px;
                    padding: 0 4px 2px 4px;
                    width: 65px;
                    overflow: hidden;
                }
                span.idx {
                    width: 30px;
                    text-align: center;
                }
            }
            .groups, .scrollstate {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    span {
                        display: inline-block;
                        margin: 0 4px;
                        padding: 0 4px 2px 4px;
                        width: 55px;
                        overflow: hidden;
                    }
                    span:nth-child(2) {
                        width: 50px;
                    }
                }
            }
            #docDims, #vpDims {
                display: block;
                margin: 3px 0;
            }
            #outline {
                margin: 8px 0 0 0;
                border: 1px solid #ccc;
                background-color: #fff;
            }
        }
    }
}
